<p id="notice"><%= notice %></p>

<%= form_for @word, :url => url_for(:controller => 'main', :action => 'search') do |f| %>

    <p>Search file:</p>
    <p><%= file_field_tag :file %></p>

    <p>Search word:</p>
    <p><%= f.text_field :word %></p>

    <p>Email:</p>
    <p><%= f.text_field :email %></p>

    <p><%= f.submit "Execute" %></p>

<% end %>
