<p id="notice"><%= notice %></p>

<%= form_tag({:action => 'search'}, multipart: true) do %>

    <p><%= file_field_tag :file %></p>

    <p><%= label_tag("Search word:") %></p>
    <p><%= text_field_tag :word, params[:word] %></p>

    <p><%= label_tag("Email:") %></p>
    <p><%= text_field_tag :email, params[:email] %></p>

    <p><%= submit_tag("Execute") %></p>

<% end %>
